################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
/SuperSearcher.BAWeb/sqlitedemo.db
RELEASE/