@page "/"
@using SuperSearcher.BAWeb.Components;
@inherits VM.SearchVM
<h1>Super Searcher</h1>

<div class="container-fluid">
	<div class="col-10">

		<form @onsubmit="() => Search()">

			<input type="search" @bind="q" />
		</form>
	</div>
</div>


@if (searchResults == null && !busy)
{
	<StatisticComponent statistics="StatisticsPreloaded" />
}
else
{
	<SearchResultComponent searchResults="searchResults" busy="this.busy" />
}
@if (!string.IsNullOrWhiteSpace(Error))
{
	<h5 class="alert-danger">
		@Error
	</h5>
}